{{>header}}
{{>navbar}}
<h1>Accion</h1>

<h2>que son:</h2>
<p>El llamado cine de acción es un género cinematográfico donde prima la espectacularidad de las imágenes por medio de efectos especiales de estilo "clásico". La denominación es más un convencionalismo popular, que un género cinematográfico puro acuñado por críticos, estudiosos o cineastas. Los elementos más frecuentes de una película de acción son persecuciones (tanto a pie como con vehículos), tiroteos, enfrentamientos, artes marciales y luchas callejeras, armas, explosiones, agresiones y cualquier situación violenta o intensa.
<br><br>
La categorización de "cine de acción" surge por la necesidad de clasificar cintas explosivas, con actores populares y con tramas lineales, llenas de espectacularidad y opulencia aparecidas a mediados de los años setenta en el cine estadounidense. Algunas películas que pertenecen al género de acción también están definidas dentro de otros géneros como el de ciencia ficción, terror, cine bélico, histórico oriental - China/Hong Kong y Japón, principalmente -, cine negro/mafias/narcos y policíaco. Los locales de alquiler o venta de películas - videoclubes - en formatos caseros popularizaron la denominación de estas cintas como de “acción” a partir de los 80.</p>
<table>
            <center><center>
                <tr>
                <th><hr><h1>Peliculas</h1><hr></th>
                </tr> 
                <tr><th><img class="got" src="imagenes/accion1.jpeg" style="float: left;" width="200px" height="400px">
                <h4><p>''Misión imposible: Protocolo fantasma' ('Mission: Impossible - Ghost Protocol', 2011)

                    Dirección: Brad Bird

                    Reparto: Tom Cruise, Paula Patton, Jeremy Renner, Simon Pegg, Michael Nyqvist, Anil Kapoor, Léa Seydoux

                   Si 'Fast Five' marcó un antes y un después para su saga, 'Protocolo fantasma' supuso la misma revolución para la franquicia 'Misión: Imposible'. De la mano de Brad Bird y con un Tom Cruise convertido en el efecto especial viviente por antonomasia, la cuarta aventura de Ethan Hunt mantuvo intacta su esencia de espionaje de corte clásico, pero elevó las apuestas en cuanto a la acción se refiere, haciendo historia con la descomunal secuencia de la escalada y la tormenta de arena en Dubai. Brutal.
                </p>
                    <hr></h4>
                </th></tr>
                <br>
                <tr><th><img class="got" src="imagenes/accion2.jpeg" style="float: right;" width="200px" height="400px">
                    <h4><p>
                        'Baby Driver' (2017)
                        
                        Dirección: Edgar Wright

                        Reparto: Ansel Elgort, Lily James, Jamie Foxx, Jon Hamm, Kevin Spacey, Eiza González, Jon Bernthal

                        Un musical de acción a las cuatro ruedas. Pocas descripciones podrían encajar mejor con este descomunal ejercicio de estilo de un Edgar Wright que vuelve a demostrar que nadie planifica con el montaje en mente del modo que él lo hace. Secuencias de conducción de lo más estimulantes, unos personajes encantadores con los que es fácil conectar, una banda sonora de esas que hacen que menees el pie inconscientemente y un reparto a la altura de las circunstancias hacen el resto.
                        </p>
                    <hr></h4>
                </th></tr>
                <br>
                <tr><th><img class="got" src="imagenes/accion4.jpeg" style="float: left;" width="200px" height="400px">
                    <h4><p>
                        'Misión Imposible: Fallout' ('Mission: Impossible - Fallout', 2018)
                        
                        Dirección: Christopher McQuarrie

                        Reparto: Tom Cruise, Rebecca Ferguson, Henry Cavill, Simon Pegg, Ving Rhames, Vanessa Kirby, Michelle Monaghan

                        Como encaramarse a un avión y jugarse el tipo no era suficiente, Tom Cruise y Christopher McQuarrie decidieron que el siguiente paso era hacer un salto HALO y rodarlo para poner la guinda en ese pastel que es la sexta parte del periplo de Ethan Hunt y compañía. Una obra cumbre del cine de acción contemporáneo que lleva la saga aún más lejos en todos los sentidos cuando parecía, efectivamente, una misión imposible.
                        </p>
                <hr></h4>
            </th></tr>
                <br>
                <tr><th><img class="got" src="imagenes/accion3.jpeg" style="float: right;" width="200px" height="400px">
                    <h4><p>
                        'Baby Driver' (2017)

                        Dirección: Edgar Wright

                        Reparto: Ansel Elgort, Lily James, Jamie Foxx, Jon Hamm, Kevin Spacey, Eiza González, Jon Bernthal

                        Un musical de acción a las cuatro ruedas. Pocas descripciones podrían encajar mejor con este descomunal ejercicio de estilo de un Edgar Wright que vuelve a demostrar que nadie planifica con el montaje en mente del modo que él lo hace. Secuencias de conducción de lo más estimulantes, unos personajes encantadores con los que es fácil conectar, una banda sonora de esas que hacen que menees el pie inconscientemente y un reparto a la altura de las circunstancias hacen el resto.
                       </p>
                <hr></h4>
            </th></tr>
                <br>
                <tr><th><img class="got" src="imagenes/accion5.jpeg" style="float: left;" width="200px" height="400px">
                    <h4><p>
                        'Fast and Furious 5' ('Fast Five', 2011)

                        Dirección: Justin Lin

                        Reparto: Vin Diesel, Paul Walker, Dwayne Johnson, Jordana Brewster, Tyrese Gibson, Elsa Pataky

                        Con 'Fast Five', la saga 'A todo gas' experimentó su gran punto de inflexión. Con Justin Lin de nuevo al volante, este thriller de acción y atracos a las cuatro ruedas elevó la fórmula a la enésima potencia añadiendo un extra de espectacularidad, incorporando a un Dwayne Johnson impagable al reparto, y regalándonos una de las mejores set-pieces que nos ha regalado la franquicia: la del robo de la cámara acorazada en Río.
                    </p>
                <hr></h4>
            </th></tr>
            </center></center>
            </table>
{{>footer}}