{{>header}}
{{>navbar}}
<h1>Ficcion</h1>

<h2>que son:</h2>
<p>El cine de ciencia ficción es un género cinematográfico que utiliza representaciones especulativas basadas en la ciencia de fenómenos imaginarios como extraterrestres, planetas alienígenas y viajes en el tiempo, a menudo junto con elementos tecnológicos como naves espaciales futuristas, robots y otras tecnologías. El cine de ciencia ficción se ha utilizado en ocasiones para comentarios críticos de aspectos políticos o sociales, y la exploración de cuestiones filosóficas como la definición del ser humano, sus alcances, inicio de su existencia y predecibles fines apocalípticos.

Este tipo de cine se origina con el cine mudo, cuando el Viaje a la Luna (1902) de Georges Méliès asombró a su audiencia con sus efectos fotográficos. Desde la década de 1930 hasta la de 1950, el género consistía principalmente en películas de serie B de bajo presupuesto. Tras el hito de Stanley Kubrick de 2001: A Space Odyssey de 1968, el cine de ciencia ficción fue tomado más en serio. A finales de la década de 1970, películas de presupuesto alto con efectos especiales se convirtieron en populares entre la audiencia. Películas como Star Wars o Close Encounters of the Third Kind allanaron el camino de éxitos de ventas en las siguientes décadas como E.T., el extraterrestre (1982).
</p>
<table>
            <center><center>
                <tr>
                <th><hr><h1>Peliculas</h1><hr></th>
                </tr> 
                <tr><th><img class="got" src="imagenes/ficcion1.jpeg" style="float: left;" width="200px" height="400px">
                <h4><p>La guerra de las galaxias. Episodio IV: Una nueva esperanza (1977)

                    Director: George Lucas

                    Intérpretes: Mark Hamill, Harrison Ford, Carrie Fisher, Alec Guinness, Peter Cushing, David Prowse, Peter Mayhew

                    Aunque posiblemente 'El Imperio contraataca' tenga más fans y en términos generales sea una película más redonda, el impacto y la importancia de la primera 'Star Wars' no tiene parangón con ninguna otra. Su adscripción a las reglas de las películas de caballería y a los tropos del Viaje del Héroe, además, le dan cierto aire atemporal, a lo que se suma una característica única en la saga: su encantadora modestia, consciente de estar replicando más a los clásicos de los seriales de los años cuarenta que a ese molesto rebozamiento de todas las secuelas en su propio lore. Aún con sus imperfecciones, una sensacional lección acerca de cómo arrancar una mitología inabarcable.
                </p>
                    <hr></h4>
                </th></tr>
                <br>
                <tr><th><img class="got" src="imagenes/ficcion2.jpeg" style="float: right;" width="200px" height="400px">
                    <h4><p>
                        E.T. el extraterrestre (1982)

                        Director: Steven Spielberg

                        Intérpretes: Henry Thomas, Dee Wallace, Robert MacNaughton, Drew Barrymore, Peter Coyote

                        Es complicado de calibrar hoy hasta qué punto la idea de Spielberg de sustituir al invasor alienígena agresivo y malvado por una mascota adorable fue revolucionaria. La visión de la ciencia-ficción de los ochenta quedaría completamente marcada por este descomunal éxito de taquilla, y una revisión actual de lo que esencialmente es una película de maduración con bicho al fondo permite discernir el por qué de su atemporalidad: es un blockbuster donde los continuos efectos no devoran a los personajes. 
                    </p>
                    <hr></h4>
                </th></tr>
                <br>
                <tr><th><img class="got" src="imagenes/ficcion3.jpeg" style="float: left;" width="200px" height="400px">
                    <h4><p>
                        Blade Runner (1982)

                        Director: Ridley Scott

                        Intérpretes: Harrison Ford, Rutger Hauer, Sean Young, Daryl Hannah, Edward James Olmos, Joanna Cassidy

                        Más influyente por su estética, su impacto cultural a largo plazo y su corroboración de que la ciencia-ficción era también un espacio para contar... bueno, lo que la ciencia-ficción literaria venía contando desde los años cincuenta, 'Blade Runner' se ha terminado ganando su merecida posición en el podium de las grandes películas de género.
                    </p>
                <hr></h4>
            </th></tr>
                <br>
                <tr><th><img class="got" src="imagenes/ficcion4.jpeg" style="float: right;" width="200px" height="400px">
                    <h4><p>
                        Tron (1982)

                        Director: Steven Lisberger

                        Intérpretes: Jeff Bridges, Bruce Boxleitner, David Warner, Cindy Morgan, Barnard Hughes, Dan Shor

                        Una auténtica revolución visual en los ochenta que parece hoy incluso más moderna que en su día. A Disney se le quitaron las ganas de experimentar con entornos digitales durante un tiempo, pero la idea de las carreras de motos, los combates con frisbees y el ordenador que adquiría consciencia eran pura ciencia-ficción escapista de primera categoría. Con unos escenarios de pesadilla y unas reflexiones muy interesantes y accesibles acerca de qué nos hace humanos, 'Tron' se adelantó a su tiempo un buen par de décadas. La secuela, aunque innecesaria, no está carente de interés.
                    </p>
                <hr></h4>
            </th></tr>
                <br>
                <tr><th><img class="got" src="imagenes/ficcion5.jpeg" style="float: left;" width="200px" height="400px">
                    <h4><p>
                        Terminator (1984)

                        Director: James Cameron

                        Intérpretes: Arnold Schwarzenegger, Linda Hamilton, Michael Biehn, Paul Winfield, Lance Henriksen

                        Pese a su impacto en la cultura pop y, sobre todo, en la industria de los efectos especiales, la segunda entrega de 'Terminator', mucho más popular y apreciada por los fans, palidece en términos de gloriosa ciencia-ficción en estado puro frente a este auténtico cañonazo conceptual sobre una máquina indestructible que viaja desde el futuro para matar a una mujer. Su high-concept demoledor y su ritmo infernal, como una especie de chase movie escrita entera en mayúsculas, convirtieron a Schwarzenegger en una estrella y a James Cameron en uno de los nombres clave del Hollywood de los ochenta. 
                    </p>
                <hr></h4>
            </th></tr>
            </center></center>
            </table>
{{>footer}}