<!DOCTYPE html>
<html lang="en">
<head>
    <title>Examen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/
    bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
     crossorigin="anonymous">

   <script src="funciones.js"></script>
    

    <link rel="stylesheet" href="estilo.css">

    
</head>
<body id="body">
    <h1>Top de peliculas</h1>
        
        <hr>
        <center><h4>seleccione una sección dandole click a su imagen:</h4></center>
        <table>
       <center><center>
           <tr>
           <th><h1>Terror</h1></th>
           <th><h1>Accion</h1></th>
           <th><h1>Ciencia ficción</h1></th>
           <th><h1>comedia</h1></th>
           </tr>
           <tr>
           <th><a href="terror.hbs"><img class="got" src="imagenes/terror portada.jpg" width="400px" height="400px"></a></th>
           <th><a href="accion.hbs"><img class="got" src="imagenes/accion portada.jpg" width="400px" height="400px"></a></th>
           <th><a href="ficcion.hbs"><img class="got" src="imagenes/ciencia ficcion portada.jpg" width="400px" height="400px"></a></th>
           <th><a href="comedia.hbs"><img class="got" src="imagenes/comedia portada.jpg" width="400px" height="400px"></a></th>
        </tr>
       </center></center>
        </table> <br>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <marquee behavior="Scroll" direction="right">Hecho por:Martinez Chavez Edgar Alejandro 4-G</marquee>
    </body>
    </html>
</body>