{{>header}}
{{>navbar}}
<h1>Terror</h1>

<h2>que son:</h2>
<p>El cine de terror es un género cinematográfico que se caracteriza por su voluntad de provocar en el espectador sensaciones de pavor, terror, miedo, disgusto, repugnancia, horror, incomodidad o preocupación. Sus argumentos frecuentemente desarrollan la súbita intrusión en un ámbito de anormalidad de alguna fuerza, evento o personaje de naturaleza maligna o celestial, a menudo de origen criminal o sobrenatural. En los cines de terror es donde se produce una sensación de miedo o temor sobre las distintas causas que genera un determinado personaje o actor profesional.</p> 
<br><br>
<p>Antecedentes del terror
    <br>
El cine de horror nació junto con el mismo cine. Los hermanos Lumière rodaron en 1896 la cinta L'arrivée d'un train à La Ciotat (La llegada del tren). En esta película, como su nombre indica, únicamente se mostraba la llegada de un tren; sólo que, dado que el cine era un invento desconocido para la mayoría de los espectadores, estos creían que el tren se iba a salir literalmente de la pantalla para arrollarlos; los primeros espectadores de la cinta gritaban y escapaban de la sala aterrorizados.
<br><br>
La primera cinta considerada de terror fue La mansión del diablo, dirigida e ideada por Georges Méliès, se estrenó el 24 de diciembre de 1896, en París. Esta dio paso a todo el cine de terror. Durante esta era del cine primitivo, Francia se posicionó como la gran realizadora de antecedentes del género. Louis Lumière realiza en 1897 Le squelette joyeux; Georges Méliès, además de la ya mencionada La mansión del diablo, dirige El Diablo en el convento (1899) y El diablo negro (1905); la pionera en cine hecho por mujeres, Alice Guy es la responsable del filme Faust et Méphistophélès (1903); a Gaston Velle se le debe La Peine du talion (1906); el español aragonés Segundo de Chomón realiza La casa encantada (1907), Satán se divierte (1907), La casa encantada (1908) y El hotel eléctrico (1908) entre muchísimos cortometrajes más que se realizaron en Francia. Pero la que muchos consideran como la primera película deliberada de terror fue realizada en 1910 por J. Searle Dawley para los Edison Studios (en Estados Unidos). Se trató de la primera adaptación del mito de Frankenstein.</p>
<table>
            <center><center>
                <tr>
                <th><hr><h1>Peliculas</h1><hr></th>
                </tr> 
                <tr><th><img class="got" src="imagenes/terror1.jpeg" style="float: left;" width="200px" height="400px">
                <h4><p>'El exorcista' ('The Exorcist', 1973)
                    <br><br>
                    Dirección: William Friedkin

                    Reparto: Linda Blair, Max von Sydow, Ellen Burstyn, Jason Miller, Lee J. Cobb, Kitty Winn

                    Dejando a un lado el eterno debate sobre si es o no la mejor película de terror de la historia, si que podemos afirmar que, sin duda, es una de las más aterradoras. No importa cuántos años pasen; esta maravilla firmada por William Friedkin continúa siendo tan escalofriante como el primer día gracias a su impoluta dirección, a un diseño de sonido espeluznante y, por supuesto, a una precoz Linda Blair inmensa en su papel de Regan McNeal. Un auténtico hito rodeado por un extraño halo profano que asfixia por igual a todo tipo de espectadores independientemente de sus creencias.
                </p>
                    <hr></h4>
                </th></tr>
                <br>
                <tr><th><img class="got" src="imagenes/terror2.jpeg" style="float: right;" width="200px" height="400px">
                    <h4><p>
                        'El resplandor' ('The Shining', 1980)

                        Dirección: Stanley Kubrick

                        Reparto: Jack Nicholson, Shelley Duvall, Danny Lloyd, Scatman Crothers, Barry Nelson, Philip Stone

                        Ese genio indiscutible llamado Stanley Kubrick dominó todos y cada uno de los géneros que abordó a lo largo de su carrera. No es de extrañar dado su excepcional talento que su incursión en el terror diese como resultado una obra maestra como lo es 'El resplandor'. Una proeza técnica, formal y conceptual que te sumerge en los imposibles pasillos y habitaciones del hotel Overlook mientras te invita a perder la cabeza junto al desquiciado Jack Torrance en una pesadilla del más alto nivel.
                    </p>
                    <hr></h4>
                </th></tr>
                <br>
                <tr><th><img class="got" src="imagenes/terror3.jpeg" style="float: left;" width="200px" height="400px">
                    <h4><p>
                        'Halloween' (1978)

                        Dirección: John Carpenter

                        Reparto: Jamie Lee Curtis, Donald Pleasence, Nancy Loomis, P.J. Soles, Charles Cyphers, Kyle Richards

                        Rodando en unos 20 días y con una limitación de recursos más que obvia —tenían que recoger reutilizar hasta las hojas que aparecían en el suelo de la calle entre plano y plano—, el maestro John Howard Carpenter revolucionó el terror sentando cátedra y marcando un antes y un después en el subgénero del slasher con este clásico de culto imperecedero. Una mirada fantasmagórica sobre el mal más puro, encarnado en un gigantesco Michael Myers aferrado al imaginario popular desde hace cuarenta años.
                    </p>
                <hr></h4>
            </th></tr>
                <br>
                <tr><th><img class="got" src="imagenes/terror4.jpeg" style="float: right;" width="200px" height="400px">
                    <h4><p>
                        'La matanza de Texas' ('The Texas Chainsaw Massacre', 1974)

                        Dirección: Tobe Hooper

                        Reparto: Marilyn Burns, Paul A. Partain, Edwin Neal, Jim Siedow, Allen Danziger, Gunnar Hansen

                        La más clara y fiel representación de la crudeza sin tregua que reinó en el terror durante los años setenta fue esta ópera prima valiente, salvaje y horripilante con la que Tobe Hooper marcó nuevos caminos que seguir en el género. Por encima de su eterno Cara de Cuero quedan los desgarradores gritos de la encantadora final girl interpretada por Marilyn Burns y un estilo formal único, con una cámara casi documental y un acertado —y espectacular— uso del 16mm más sucio.
                    </p>
                <hr></h4>
            </th></tr>
                <br>
                <tr><th><img class="got" src="imagenes/terror5.jpeg" style="float: left;" width="200px" height="400px">
                    <h4><p>
                        'Pesadilla en Elm Street' ('A Nightmare on Elm Street', 1984)

                        Dirección: Wes Craven

                        Reparto: Heather Langenkamp, Robert Englund, Johnny Depp, John Saxon, Lin Shaye, Joe Unger, Charles Fleischer

                        Es muy complicado pensar en personajes míticos del género y que el "bueno" de Freddy Krueger, interpretado por el entrañable Robert Englund, no aparezca entre los cinco primeros. Con 'Pesadilla en Elm Street', Wes Craven llevó el terror al mundo de los sueños en una película que mantiene tan intacta su brutalidad como fresco un poderoso imaginario que supuso la coronación definitiva del director como uno de los titanes del horror cinematográfico de todos los tiempos.
                    </p>
                <hr></h4>
            </th></tr>
            </center></center>
            </table>
{{>footer}}